#slimbar {
  left:-1.15%;
  width:102.1%;
  position: relative;
}
#slimbar a {
  color: #DBDFE0;
}
.navbar {
  *position: relative;
  *z-index: 2;
  overflow: visible;
  color: #DBDFE0;
}
.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1F2F08;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar .container {
  width: auto;
  padding: 2pt 0;
}
.pull-right {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
dt.actionMenuHeader a:after {
    content: " ▼";
}
#slimbar .actionMenuContent {
  background: none repeat scroll 0 0 #DBDFE0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  padding: 0.25em 0;
  margin-top: 2pt;
  z-index: 10;
}
#slimbar .actionMenuContent a {
    line-height: 1.5em;
    padding: 0 0.75em;
    color: #1F2F08;
}
#slimbar .actionMenuContent a:hover {
    background: none repeat scroll 0 0 #205C90;
    color: white;
}